:root{
    --bg-white: #fff;
    --bg-grey: rgb(244, 245, 247);
    --para-color: rgb(25, 10, 40);
    --green-link: rgb(31, 130, 104);
    --grey-txt: rgb(140, 133, 148);

    --twe-px: 0.75rem;
    --fou-px: 0.875rem;

    --dark-green: rgb(31, 130, 104);
    --light-green: rgb(160, 197, 189);
}

/* ---------------- UNIVERSAL CLASSES ---------------- */
.link {
    color: rgb(31, 130, 104);
    font-weight: 600;
    font-size: var(--fou-px);
    line-height: 1.25rem;
    cursor: pointer;
}


/* ---------------- Section Container ---------------- */
main {
    background-color: var(--bg-grey);
    z-index: 5;
}
.section-cont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: auto;
    height: 100%;
    width: 80vw;
    padding-top: 3.5rem;
}

/* ---------------- Personal Information ---------------- */
.personal-info{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

/* Profile View */
.personal-info .profile-view-info{
    background-color: var(--bg-white);
    display: flex;
    gap: 1rem;
    height: 12rem;
    width: 406px;
    padding: 1rem var(--twe-px);
    z-index: 0;
}


.profile-picture{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 28%;
    cursor: pointer;
}
.profile-picture .profile-picture-container{
    background-color: var(--bg-grey);
    padding: 1.75rem;
    border-radius: 50%;
}


.profile-view .link-container {
    width: 100%;
    cursor: default;
}
.profile-view .link-container .link-url {
    display: flex; /* Use flexbox to align text and SVG */
    align-items: center; /* Vertically align the text and SVG */
    max-width: 190px; /* Control where the text cuts off */
    overflow: hidden;
}
.profile-view .link-container .link-url .link-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 2px;
}
.profile-view .link-container .link-url .link-icon {
    flex-shrink: 0;
    width: 1.1rem;
    height: 1.1rem;
}


.container-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
    text-overflow: initial;
    height: 70%;
}
.container-2 svg {
    margin-top: 2px;
    margin-right: 10px;
}
.college,
.address,
.share {
    height: 33.33%;
}
.share a {
    color: var(--green-link);
    font-weight: 600;
}


/* Contact View */
/* MAIN */
.personal-info .contact-info{
    background-color: var(--bg-white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;
    max-height: 20rem;
    width: 406px;
    padding: 1.25rem;
    z-index: 0;
}

/* COMMON */
.head {
    font-weight: 400;
    margin-bottom: 4px;
    font-size: var(--twe-px);
    color: rgb(140, 133, 148);
    line-height: 1rem;
}
.content {
    font-weight: 400;
    font-size: var(--fou-px);
    line-height: 1.25rem;
    color: rgb(25, 10, 40);
}


/* ---------------- Other Information ---------------- */
/* MAIN */
.other-info{
    grid-column: 3 / 7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
}

/* WORK-EXPERIENCE */
.work-exp {
    margin-top: -2rem;
}

/* EDUCATION */
.education > .info-heading,
.education > .info-heading svg {
    margin-right: 5px;
    overflow: hidden;
}
.education > .info-heading > p,
.education .heading-edit > p {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 8px;
}

.education > .para {
    margin-top: -0.75rem;
    margin-bottom: 1rem;
}
.education .boxbox p{
    margin: 0 8px;
}

#study {
    flex-direction: row;
    align-items: center;
}
.timestamp{
    display: flex;
    flex-direction: column;
}
.timestamp > svg{
    overflow: hidden;
}
.std-line {
    height: 30px;
    border-left: 1px dashed rgb(209, 206, 212);
}
.std-dot {
    color: rgb(209, 206, 212);
    font-size: 48px;
    margin-top: -30px;
}
.deg-cont {
    margin-left: 8px;
    flex-direction: column;
    width: 100%;
}

.skills-cont {
    flex-wrap: wrap;
    margin: 1rem 0;
}

.bar-dark {
    background-color: var(--dark-green);
}
.bar-light {
    background-color: var(--light-green);
}
.lvl-cont .lvl {
    margin: 4px;
    display: flex;
    align-items: flex-end;
}
.lvl-cont .lvl div {
    width: 2px;
    margin: .5px;
    height: 4px;
}
.lvl-cont .lvl div:nth-child(1) {
    height: 5px;
}
.lvl-cont .lvl div:nth-child(2) {
    height: 7px;
}
.lvl-cont .lvl div:nth-child(3) {
    height: 9px;
}

/* RESUME */
.resume > .para {
    margin-top: -0.75rem;
    margin-bottom: 1rem;
}
.resume > .boxbox p{
    margin: 0 8px;
}

/* OTHER-DETAILS */
.other-details > .para {
    margin-top: -0.75rem;
    margin-bottom: 1rem;
}
.other-details .boxbox p{
    margin: 0 8px;
}

.upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

/* COMMON */
.add-info {
    display: flex;
    align-items: center;
}
.right-arrow {
    cursor: pointer;
}


.info-heading {
    justify-content: space-between;
    margin-bottom: var(--twe-px);
    margin-top: 2rem;
    padding: 0.75px;
}
.heading-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.heading-edit svg {
    margin-right: 5px;
}
.heading-inside {
    justify-content: space-between;
    margin-bottom: var(--twe-px);
    padding: 0.75px;
}
.placeholder {
    font-size: var(--fou-px);
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--grey-txt);
}
.placeholder-2 {
    font-size: var(--fou-px);
    font-weight: 400;
    line-height: 1rem;
    color: rgb(25, 10, 40);
    margin-right: 1rem;
}
.grey-txt {
    font-size: var(--twe-px);
    line-height: 1rem;
    font-weight: 400;
    color: var(--grey-txt);
}
.para-inside {
    margin-top: -0.5rem;
}


.boxbox {
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37vw;
    padding: var(--twe-px);
}
.boxbox-2 {
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    width: 37vw;
    padding: var(--twe-px);
    margin: 8px 0px;
}
.green-adder-box {
    border-radius: 4px;
    border: 1px solid var(--green-link);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
    color: var(--green-link);
    padding: 10px 0px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    gap: 8px;
}
.cont-cont {
    flex-shrink: 0;
    background-color: rgb(244, 242, 246);
    border: 1px solid rgb(232, 231, 234);
    color: rgb(130, 116, 133);
    border-radius: 6px;
    height: 24px;
    padding: 6px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 8px;
}