@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --para-color: rgb(25, 10, 40);
  --green-link: rgb(31, 130, 104);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Universal Classes */
.font-600{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: .9rem;
}

.border-grey {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 0.75rem;
  z-index: 5;
}

.heading {
  color: rgb(25, 10, 40);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.0025em;
}

.para{
  color: rgb(25, 10, 40, .9);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}

.flex {
  display: flex;
}

.flex-acjc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.pb0 {
 padding-bottom: 0px !important;
}